﻿@model string
<!DOCTYPE html>
<html>
<head>
    <title>New user add</title>
    <link href="~/levihubfavocion.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/AddUser.css" rel="stylesheet" />
</head>

<body>
    <div>
        <div class="stars-01"></div>
        <div class="stars-02"></div>
        <div class="stars-03"></div>
        <div class="stars-04"></div>
    </div>
    <h1>    Add new Achievement</h1>
    <div class="formcss">
        <form action="/Home/AddAchievement" method="post">
            <p>Name :</p>
            <input type="text" name="Name" /><br />
            <input type="hidden" name="GameId" value="@Model" />
            <br />
            <p>Achievent's Level:</p>
            <input type="radio" id="bronze" name="achiLevel" value="bronze">
            <label for="male">bronze</label><br>
            <input type="radio" id="silver" name="achiLevel" value="silver">
            <label for="female">silver</label><br>
            <input type="radio" id="gold" name="achiLevel" value="gold">
            <label for="other">gold</label>
            <br />
            <br />
            <input type="submit" value="Add" />
        </form>
    </div>
</body>

</html>