﻿@using Models
@model Achievement
<!DOCTYPE html>
<html>
<head>
    <title>Edit Achi</title>
    <link href="~/levihubfavocion.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/AddUser.css" rel="stylesheet" />
</head>

<body>
    <h1>    Edit Achievement</h1>
    <div class="formcss">
        <form action="/Home/EditAchi" method="post">

            <p>Name : </p>

            <input type="text" name="Name" value="@Model.Name" /><br />
            <input type="hidden" name="GameId" value="@Model.GameId" />
            <input type="hidden" name="AchiId" value="@Model.AchiId" />
            <p>Achievent's Level: </p>  <br />
            <input type="radio" id="bronze" name="achiLevel" value="bronze">
            <label for="male" style="color: #ffb703">bronze</label><br>
            <input type="radio" id="silver" name="achiLevel" value="silver">
            <label for="female" style="color: #ffb703">silver</label><br>
            <input type="radio" id="gold" name="achiLevel" value="gold">
            <label for="other" style="color: #ffb703">gold</label>
            <br />
            <br />
            <input type="submit" value="Add" />
        </form>
    </div>
    <input type="button" class="btn btn-warning" onclick="location.href='/Home/ListAchievements';" value="Back" />
</body>

</html>