﻿
<!DOCTYPE html>
<html>
<head>
    <title>HUB</title>
    <link href="~/levihubfavocion.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="~/Buttons.css" rel="stylesheet" />
    <link href="~/Index.css" rel="stylesheet" />
    <link href="~/Movingbackground.css" rel="stylesheet" />


    <script>
        
        const info = document.querySelector('.Info');
        const closeInfo = document.querySelector('.close-info');



        const colors = [
            '#FF5632',
            '#FF8E00',
            '#FFDA00',
            '#E2FF00'
        ];

        createSquare = () => {
            const section = document.querySelector('section');
            const square = document.createElement('span');

            const size = Math.random() * 50;

            square.style.width = 20 + size + 'px';
            square.style.height = 20 + size + 'px';

            square.style.top = Math.random() * innerHeight + 'px';
            square.style.left = Math.random() * innerWidth + 'px';

            square.style.background = colors[Math.floor(Math.random() * colors.length)];
            section.appendChild(square);

            setTimeout(() => {
                square.remove()
            }, 5000);
        }



        setInterval(createSquare, 150);

        document.querySelector('.show-info').addEventListener('click', function () {
            console.log('megnyomva');
            info.classList.remove('hidden');

        });

        closeInfo.addEventListener('click', function () {
            info.classList.add('hidden');
        });
        

    </script>


</head>

<body>

    <section>
    </section>

    <div class="played">
        <h2 >Games played for @Model hours </h2>

    </div>
    <div class="block">
        <a href="#"><img src="levihub.png" class="logo"></a>
        <br />
        
    </div>
    
    
    
    <div class="container">
        

        <button class="fill" onclick="location.href='/Home/GenerateData';">Generate Data</button>

        <br />
        <button class="fill" onclick="location.href='/Home/AddUser';">Register New User</button>

        <br />
        <button class="fill" onclick="location.href='/Home/ListUsers';">List Users</button>

        <br />
        <button class="fill" onclick="location.href='/Home/ListAllGames';">List Games</button>

        <br />
        <button class="fill" onclick="location.href='/Home/ListAchievements';">List Achievements</button>

        <br />
        <button class="fill" onclick="location.href='/Home/Statistics';">Show statistics for all players</button>
        <br />
        <button class="fill" onclick="location.href='/Home/SpecificStats';">Show statistics</button>
        <br />
    </div>
    

</body>

</html>