﻿@using Models
@model IEnumerable<Game>

<!DOCTYPE html>
<html>
<head>
    <title>Game Listing</title>
    <link href="~/levihubfavocion.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/Statistics.css" rel="stylesheet" />
</head>

<body>
    <h1>Games</h1><br/>
                  <div class="tabla">
                      <table class="rwd-table">

                          <tr>

                              <th>
                                  @Html.DisplayNameFor(model => model.Name)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.Genre)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.GameTime)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.Rating)
                              </th>
                          </tr>

                          <tbody>
                              @foreach (var item in Model)
                               {
                                  <tr>

                                      <td data-th="Movie Title">
                                          @Html.DisplayFor(modelItem => item.Name)
                                      </td>
                                      <td data-th="Movie Title">
                                          @Html.DisplayFor(modelItem => item.Genre)
                                      </td>
                                      <td data-th="Movie Title">
                                          @Html.DisplayFor(modelItem => item.GameTime)
                                      </td>
                                      <td data-th="Movie Title">
                                          @Html.DisplayFor(modelItem => item.Rating)
                                      </td>
                                      <td data-th="Movie Title">

                                          <input type="button" class="btn btn-success" onclick="location.href='/Home/EditGame?Id=@item.GameId';" value="Edit" />
                                          <br />
                                          <input type="button" class="btn btn-danger" onclick="location.href='/Home/DeleteGame?Id=@item.GameId';" value="Delete" />



                                          <br />
                                          <input type="button" class="btn btn-info" onclick="location.href='/Home/ListAchi?Id=@item.GameId';" value="Show Achievements" />
                                          <br />
                                          <input type="button" class="btn btn-primary" onclick="location.href='/Home/AddAchievement?Id=@item.GameId';" value="Add Achievement" />

                                      </td>
                                  </tr>
                               }
                          </tbody>
                      </table>
                  </div>

    
    <input type="button" class="btn btn-warning" onclick="location.href='/Home/ListUsers';" value="Back to the users" />

    <br />
    <input type="button" class="btn btn-warning" onclick="location.href='/';" value="Back To Hub" />

</body>
</html>

