﻿@model Models.Stat2

<!DOCTYPE html>
<html>
<head>
    <title>HUB</title>
    <link href="~/levihubfavocion.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/Statistics.css" rel="stylesheet" />
</head>

<body>

    <h1>Statistics</h1>
   
    
    <h2>Most Games : @Model.RichestGamer</h2>

    <h2>Most Points : @Model.BestGamer</h2>

    <h2>Most Time Played : @Model.LifelessGamer</h2>

    <h2>Best Average Rating :@Model.PickiestGamer </h2>



    <input type="button" class="btn btn-warning" onclick="location.href='/';" value="Back" />



</body>

</html>

