﻿@model IEnumerable<Models.Stat>

<!DOCTYPE html>
<html>
<head>
    <title>HUB</title>
    <link href="~/levihubfavocion.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/Statistics.css" rel="stylesheet" />
</head>

<body>

    <h1>Statistics</h1>
    <div class="tabla">
        <table class="rwd-table">

            <tr>
                <th>
                    Username
                </th>
                <th>
                    Games
                </th>
                <th>
                    Hours Played
                </th>
                <th>
                    Player Points
                </th>

            </tr>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-th="Movie Title">
                            @Html.DisplayFor(modelItem => item.PlayerName)
                        </td>
                        <td data-th="Movie Title">
                            @Html.DisplayFor(modelItem => item.GameCount)
                        </td>
                        <td data-th="Movie Title">
                            @Html.DisplayFor(modelItem => item.GameTime)
                        </td>
                        <td data-th="Movie Title">
                            @Html.DisplayFor(modelItem => item.AchiPoints)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <input type="button" class="btn btn-warning" onclick="location.href='/';" value="Back" />



</body>

</html>

