﻿

body {
    background-color: #023047;
    text-align: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}





h1 {

    text-align: center;
    color: #ffb703;
}



.center {
    
    border: 10px;
}

.btn-warning {
    color: #023047;
    border-spacing: 10px;
}

.indexgomb {
    padding-bottom : 20px;
}

.logo {

   
   max-width : 300px;
   position: absolute;
   top: 8px;
   left: 16px;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #ffb703;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.played {
    left: 35%;
    top: 10%;
    justify-content: center;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.show-info {
    color: #023047;
    border-spacing: 10px;
}

.hidden {
    display: none;
}

.Info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}








        
