﻿
body {
    overflow: hidden;
    height: 100vh;
    background: #091833;
}

section {
    height: 100vh;
}

span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}

.container {
    left: 20%;
    top: 30%;
    justify-content: center;
    position: absolute;
}